<h1>All Products</h1>

<table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {{# each }}
  <tr>
    <td><img {{ bind-attr src=image }} class='tiny_image'/></td>
    <td>{{ name }}</td>
    <td>{{ formatted_price price }}</td>
    <td>{{# link-to "updateItem" this class="btn"}}>Update
    <button {{ action "deleteItem" this }}>Delete</button></td>
  </tr>
  {{/ each }}
  <tr>
    <td>{{# link-to "newItem" class="btn" }}Create New{{/ link-to }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

<h1>All Orders</h1>

<table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {{# orders each }}
  <tr>
    <td></td>
    <td>{{ id }}</td>
    <td></td>
  </tr>
  {{/ each }}
  <tr>
    <td></td>
   <td> <button {{ action "paid" this }}>Paid</button>
      <button {{ action "canceled" this }}>Canceled</button></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>