<h1>All Products</h1>

<table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {{# each }}
  <tr>
    <td><img {{ bind-attr src=image }} class='tiny_image'/></td>
    <td>{{ name }}</td>
    <td>{{ formatted_price price }}</td>
    <td><button {{ action "updateItem" this }}>Update</button>
    <button {{ action "deleteItem" this }}>Delete</button></td>
  </tr>
  {{/ each }}
  <tr>
    <td>{{# link-to "newItem" class="btn" }}Create New{{/ link-to }}
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>