<h1>
  {{ name }}
  <small class='muted'>${{ price }}</small>
</h1>

<div class='row'>
  <div class='col-lg-8'>
    <img {{ bind-attr src=image }} class='thumbnail' />
  </div>
  <div class='col-lg-4'>
    {{ description }}
    {{ formatted_price price }}
    <button {{ action 'addToCart' this}}> Add to cart </button>
  </div>
</div>