<h3>Cart</h3>
<table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Qty</th>
      <th>Subtotal</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
  {{# each orderitems }}
  <tr>
    <td><img {{ bind-attr src=item.image }} class='tiny_image'/></td>
    <td>{{ item.name }}</td>
    <td>
      {{ quantity }}
      <button {{ action 'more' this }}>+</button>
      <button {{ action 'less' this }}>-</button>
    </td>
    <td>{{ formatted_price subtotal }}</td>
    <td><button {{ action "removeItem" this }}>Remove</button>
  </tr>
  {{/ each }}
  <tr>
    <td><h4>Total:</h4></td>
    <td></td>
    <td></td>
    <td>{{ formatted_price total }}</td>
    <td></td>
  </tr>
</tbody>
</table>
<a href="#/checkout"><button> Checkout </button></a>